/lib/*.lo
/lib/*.o
/autom4te.cache
/aclocal.m4
/config.h.in
/configure.in
/lib/Makefile.in
/lib/ftp.c
/lib/getdate.c
/lib/mprintf.c
/ltmain.sh
/src/hugehelp.c
/Makefile
/Makefile.in
/compile
/config.h
/config.h.in~
/config.log
/config.status
/configure
/configure.in~
/configure~
/curl-ssl.spec
/curl.spec
/docs/Makefile
/docs/Makefile.in
/include/Makefile
/include/Makefile.in
/include/curl/Makefile
/include/curl/Makefile.in
/lib/.libs/libcurl.a
/lib/.libs/libcurl.la
/lib/.libs/libcurl.lai
/lib/Makefile
/lib/libcurl.la
/libtool
/src/Makefile
/src/Makefile.in
/src/config.h
/src/curl
/src/hugehelp.o
/src/main.o
/src/stamp-h2
/src/urlglob.o
/stamp-h1
